@import "./common.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include display(flex, column);
}

header {
    width: 100%;
    background: #06c1ae;
    font-size: px2rem(15px);
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: px2rem(2px) px2rem(10px);
        text-align: center;
        color: #fff;
        .address {
            padding-right: px2rem(5px);
            span {
                padding-right: px2rem(5px);
            }
        }
        .serch {
            flex: 1;
            position: relative;
            input {
                width: 100%;
                padding: px2rem(10px);
                border: none;
                padding-left: px2rem(70px);
                background: #05a494;
                border-radius: px2rem(3px);
            }
            input::-webkit-input-placeholder {
                color: #06c1ae;
            }
            i {
                position: absolute;
                top: 8%;
                left: 3%;
            }
        }
        .wode {
            padding-left: px2rem(10px);
            p {
                font-size: px2rem(10px);
                margin-top: px2rem(-5px);
            }
            i {
                font-size: px2rem(20px);
            }
        }
    }
}

main {
    flex: 1;
    width: 100%;
    .banner {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}